{{ define "content" }}

<div class="header">
    <div class="page-header">
        <div>
            <h1>Overview</h1>
            <p>Sibyl bot overview.</p>
        </div>

        {{ template "user_profile" . }}
    </div>
</div>

<div id="overview" hx-get="/api/overview" hx-trigger="every 5s" hx-swap="innerHTML">
    {{ template "overview-content" . }}
</div>

{{ template "flash_box" . }}

{{ end }}


{{ define "overview-content" }}

<div class="bot-profile">
    <img class="bot-avatar" src="{{ .Dashboard.BotAvatar }}" alt="{{ .Dashboard.BotName }}">

    <div class="bot-info">
        <div class="bot-name">{{ .Dashboard.BotName }}</div>

        <div class="bot-status">
            <span class="status">
                <span class="status-dot {{ if not .Dashboard.Online }}offline{{ end }}"></span>
                {{ if .Dashboard.Online }}Online{{ else }}Offline{{ end }}
            </span>
        </div>
    </div>
</div>

<div class="cards">
    <div class="card">
        <div class="card-title">Guilds</div>
        <div class="card-value">{{ .Dashboard.GuildCount }}</div>
    </div>

    <div class="card">
        <div class="card-title">Latency</div>
        <div class="card-value">{{ .Dashboard.Latency }} ms</div>
    </div>

    <div class="card">
        <div class="card-title">Uptime</div>
        <div id="uptime" class="card-value" data-connected-at="{{ .Dashboard.ConnectedAt }}"
            data-online="{{ .Dashboard.Online }}">
            00:00:00:00
        </div>
    </div>

    <div class="card">
        <div class="card-title">Timezones</div>
        <div class="card-value">{{ .Dashboard.TimezoneCount }}</div>
    </div>

    <div class="card">
        <div class="card-title">Animes</div>
        <div class="card-value">{{ .Dashboard.AnimeCount }}</div>
    </div>

    <div class="card">
        <div class="card-title">RSS</div>
        <div class="card-value">{{ .Dashboard.RSSFeeds }}</div>
    </div>
</div>

{{ end }}
