{{ define "content" }}

<div class="page-top">
    <div class="header">
        <div class="page-header">
            <div>
                <h1>Logs</h1>
                <p>View or remove logs.</p>
            </div>

            {{ template "user_profile" . }}
        </div>
    </div>

    {{ template "search" . }}
</div>


<section class="editable-table logs-table">
    <div class="editable-table-header">
        Log file
    </div>

    {{range .Logs}}
        <div class="editable-row editable-cell">
            <a class="log-file" href="{{.Path}}" target="_blank">
                {{.Name}}
            </a>
        </div>
    {{end}}

</section>

{{ end }}
