{{ define "content" }}

<div class="page-top">
    <div class="header">
        <div class="page-header">
            <div>
                <h1>Logs</h1>
                <p>View or remove logs.</p>
            </div>

            {{ template "user_profile" . }}
        </div>
    </div>

    {{ template "search" . }}
</div>


<section class="editable-table logs-table">
    <div class="editable-table-header">
        <div>Log file</div>
        <div></div>
        <div></div>
    </div>

    <div class="editable-row">
        <div class="editable-cell">
            <a class="log-file" href="/logs/sibyl-2026-10-06.log" download>
                sibyl-2026-10-06.log
            </a>
        </div>

        <div class="editable-cell"></div>

        <div class="editable-actions">
            <button class="editable-remove" type="button">×</button>
        </div>
    </div>

    <div class="editable-row">
        <div class="editable-cell">
            <a class="log-file" href="/logs/sibyl-2026-10-05.log" download>
                sibyl-2026-10-05.log
            </a>
        </div>

        <div class="editable-cell"></div>

        <div class="editable-actions">
            <button class="editable-remove" type="button">×</button>
        </div>
    </div>
</section>

{{ template "flash_box" . }}

{{ end }}
